<h2 class="mb-3">Renvoie du mail de confirmation</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-2">
    <%= f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Adresse mail" %>
  </div>

  <div class="actions">
    <%= f.submit "Renvoyer un mail", { class: "btn btn-primary" } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
