<h2 class="mb-3">Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row mb-3">
    <div class="field col">
      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Addresse mail" %>
    </div>

    <div class="field col">
      <%= f.text_field :username, autocomplete: "username", class: "form-control", placeholder: "Nom d'utilisateur" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="field col">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Mot de passe" %>
    </div>

    <div class="field col">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmation du mot de passe" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "S'inscire", { class: "btn btn-primary" } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
